@import "tailwindcss";

body {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: nor;
  letter-spacing: 3px;
    scroll-behavior: smooth;

}
body[lang="ar"] {
  font-family: "Cairo", sans-serif; /* للعربي */
}
